<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta name="description" content="Learn more about partnership between ARISE-US and Catastrophic Wildfire Prevention 
    Consortium (CWPC) at CrowdDoing, Authors, Collaborators, and team members."/>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G066X572LF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-G066X572LF');
    </script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/style/style.css" />
    <script src="https://kit.fontawesome.com/e29cb68718.js" crossorigin="anonymous" async></script>
    <title>About Us</title>
  </head>

  <body>
    <div id="header-row" name="header-row">
    </div>
    <div id="about-container" class="container">
      <div class="about-title">
        <br>
        <h1>About Us</h1>
        <br>
        <h5>Thank you to our partners and collaborators for all your time, wisdom and support</h5>
      </div>
      <div class="about-sub-title">
        <h1 class="about-title">Our Scorecard Partnership</h1>
      </div>
      <div class="about-welcome-container">
        <div class="welcome-crowdoing">
          <div id="about-welcome-title">
            <img src="assets/images/CWPCLogoW.png" alt="CWPC" id="about-cwpc-title">
            <h3>Catastrophic Wildfire Prevention Consortium (CWPC) at CrowdDoing</h3>
          </div>
          
          <p>
            CWPC is a cross-sector, international consortium of wildfire experts, 
            institutions and volunteers focused on preventing catastrophic wildfires through a portfolio 
            of customized, synergistic innovations for communities.
          </p>
          <p>
            CWPC is establishing the collective opportunity for net risk reduction by communities, achieved 
            through multi-stakeholder collaboration using costs and liabilities of inaction model to finance action to 
            prevent wildfire risks, and with a synergistic portfolio of new and traditional strategies for prevention, 
            mitigation and adaptation.
          </p>
          <div id="about-welcome-title">
            <img src="assets/images/cd-logo.png" alt="CDlogo" id="about-cd-title">
            <h3>CrowdDoing</h3>
          </div>
          <p>
            CrowdDoing (CD) is a joint initiative of the Match4Action Foundation and ReframeIt, focused on 
            addressing the social, economic, and environmental challenges our world faces by collaborating with
            professionals and volunteers from many different industries. CD aims to support social innovations with 
            transformative impact potential through global multi-disciplinary volunteering, micro-leadership and service 
            learning.
          </p>
          <p>
            Learn more about <a href="http://crowddoing.world" 
            target="_blank" rel="noopener noreferrer" aria-label="Link to navigate to CrowdDoing dot world">CrowdDoing</a>
            <br>
            Learn more about <a href="http://scorecard.preventwildfire.world" target="_blank" rel="noopener noreferrer" 
            aria-label="Link to learn more Catastrophic Wildfire Prevention">CD Catastrophic Wildfire Prevention Consortium</a>
          </p>
        </div>
        <div class="welcome-arise">
          <div id="about-welcome-title">
            <img src="assets/images/arise.png" alt="arise" id="about-arise-title">
            <h3> ARISE-US </h3>
          </div>
          
          <p>
            ARISE-US is the US network of ARISE, established by the United Nations (UN) to build public-private 
            collaboration in disaster resilience. We are a 100% volunteer organization operating in 35 countries 
            worldwide, with 450 corporate members and many more NGO and governmental partners. We published 
            the original UN City Disaster Resilience Scorecard, now used by roughly 350 cities worldwide (including
            many in the US), on which this wildfire-specific scorecard is modeled and several other scorecards,
            and a free critical asset management tool. 
            <br>
            Learn more about <a href="http://www.arise-us.org" target="_blank" rel="noopener noreferrer" 
            aria-label="Link to Arise-US website">ARISE-US</a>
          </p>
        </div>
      </div>

      <div class="about-sub-title">
        <h1>Meet the Authors</h1>
        <br>
      </div>
      <div class="author-container">
        <div class="author-box">
          <div class="author-content">
            <div class="author-title">
              <div class="author-image">
                <img  src="assets/images/PeterWilliams.png" alt="PeterWilliams">
              </div>
              <div class="author-info"> 
                <h2>Peter Williams, Ph.D</h2>
                <h6>Chair of US chapter of ARISE</h6>
                <a href="https://www.linkedin.com/in/peter-williams-de-phd/" target="_blank" rel="noopener noreferrer" 
                aria-label="Link to Peter Williams linkedin page">
                  <i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="author-text">
              <p>Internationally acknowledged expert in enabling sustainability & disaster resilience/ risk reduction 
                | Application of technology in these areas| Advisor to many start-ups and 2 VC firms.</p>
            </div>
          </div>
        </div>
      
        <div class="author-box">
          <div class="author-content">
            <div class="author-title">
              <div class="author-image">
                <img  src="assets/images/Claudia.jpg" alt="Claudia">
              </div>
              <div class="author-info"> 
                <h2>Claudia Brenner</h2>
                <h6>Co-CEO, Catastrophic Wildfire Prevention Consortium at CrowdDoing</h6>
                <h6>CEO, Atomic Strategic Design</h6>
                <a href="https://www.linkedin.com/in/claudia-brenner/" target="_blank" rel="noopener noreferrer" 
                aria-label="Link to Claudia Brenner's linkedin page">
                  <i class="fab fa-linkedin"></i></a>
                
              </div>
            </div>
            <div class="author-text">
              <p>Business Strategist, Product Manager, Information Architect and Designer, 
                Atomic Strategic Design | Systems Integration | 
                Works at the convergence of business, design, technology and applied life sciences.</p>
            </div>
          </div>
        </div>

        <div class="author-box">
          <div class="author-content">
            <div class="author-title">
              <div class="author-image">
                <img  src="assets/images/RobertFishkin.jpg" alt="RobertFishkin">
              </div>
              <div class="author-info"> 
                <h2>Robert Fishkin</h2>
                <h6>CEO & President, CrowdDoing</h6>
                <a href="https://www.linkedin.com/in/bobbyfishkin/" target="_blank" rel="noopener noreferrer" 
                aria-label="Link to Bobby Fishkin's linkedin page">
                  <i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="author-text">
              <p>Social innovation, social enterprise and systemic change through service learning & skilled volunteering 
                | Champions inchoate and emerging social innovation.</p>
            </div>
          </div>
        </div>

        <div class="author-box">
          <div class="author-content">
            <div class="author-title">
              <div class="author-image">
                <img  src="assets/images/Tammy.jpg" alt="Tammy">
              </div>
              <div class="author-info"> 
                <h2>Tammy Shwartz</h2>
                <h6>Managing Director, Guidewire</h6>
                <a href="https://www.linkedin.com/in/tammynicholsschwartz/" target="_blank" rel="noopener noreferrer" 
                aria-label="Link to Tammy Shwartz's linkedin page">
                  <i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="author-text">
              <p>Previously Founder and CEO Black Swan Analytics LLC | 
                Former Vice President, Underwriting and Operations California Fair Plan Assn.</p>
            </div>
          </div>
        </div>

        <div class="author-box">
          <div class="author-content">
            <div class="author-title">
              <div class="author-image">
                <img  src="assets/images/AlecRodriguez.jpeg" alt="AlecRodriguez">
              </div>
              <div class="author-info"> 
                <h2>Alec Rodriguez</h2>
                <h6>Resilient Water Resources Engineer, Jacobs</h6>
                <a href="https://www.linkedin.com/in/alec-rodriguez-p-e-cfm-16a03aa8/" target="_blank" rel="noopener noreferrer" 
                aria-label="Link to Alec Rodriguez's linkedin page">
                  <i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="author-text">
              <p>Co-Founder, Former Chair, Resilience Youth Network 
                | Experienced in vulnerability and risk assessment, natural hazards mitigation, adaptation planning, and modeling.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="about-sub-title">
        <h1>Scorecard Collaborators</h1>
        <br>
      </div>
      <div class="colloborator-container">
        <span class="author-collab">
          <h4>Authors</h4>
          <ul>
            <li>Peter Williams, ARISE-US</li>
            <li>Claudia Brenner, Crowddoing</li>
            <li>Bobby Fishkin, Crowddoing</li>
            <li>Bruce Preville, Crowddoing</li>
            <li>Rebecca Innes, Rebecca Innes Consulting</li>
            <li>Diana Daubenspeck, Black Swan</li>
            <li>Tammy Schwartz, Guidewire and Black Swan</li>
            <li>Alec Rodriguez, Jacobs Engineering</li>
          </ul>
        </span>
        <span class="reviewer-collab">
          <h4>Reviewers</h4>
          <ul>
            <li>Brent Woodworth, Los Angeles Emergency Preparedness Foundation</li>
            <li>Shefali Lakhina, Wonderlabs</li>
            <li>Charlie Sidoti, Innsure</li>
            <li>Chris Lowell, Innsure</li>
            <li>Alec Rodriguez, Atkins</li>
            <li>Phetmano Phannavong, Atkins</li>
            <li>Kevin Bush, Cadmus Group</li>
            <li>Randy Lyle, Wildfire Mitigation Strategies</li>
            <li>Geoff Bruder, Incaendium Initiative</li>
            <li>Craig Froome, Energetic Effects</li>
            <li>Goutam Sinha, Crowddoing</li>
          </ul>
        </span>
      </div>

      <div class="about-sub-title">
        <h1>Scorecard Web, Marketing and Data Team</h1>
        <br>
      </div>
      <div class="team-container"> 
        <span class="web-team">
          <h4>Core Web Team</h4>
          <ul>
            <li>Sadiya Bhawania, Full Stack Developer (Technical Lead)</li>
            <li>Valka Gupta, Business & Content</li>
            <li>Karen Tsai, UX & Content</li>
            <li>James Johnson, Software Engineer</li>
            <li>Fuzel Hafiz, Operations & QA</li>
            <li>Prabhakaran Jayasankar, SEO & Analytics</li>
            
          </ul>
        </span>
        <span class="web-support">
          <h4>Web Support Team</h4>
          <ul>
            <li>Hiral Rajesh Nagda</li>
            <li>Roberta Lacerda</li>
            <li>Hemaxi Barot</li>
            <li>Arman Khehra</li>
            <li>Devarishi Shinde</li>
          </ul>
        </span>
      </div>

    </div>
    </div>
    <div id="footer-container"></div>

  <script src="/assets/javascript/footer.js"></script>
  <script src="/assets/javascript/topnav.js"></script>
  <script src="/assets/javascript/header.js"></script>
  <script src="/assets/javascript/common.js"></script>
  <script type="text/javascript" src="https://api.useberry.com/integrations/liveUrl/scripts/useberryScript.js"></script> 

  <script>
    window.onload = (event) => {
      generateHeader("header-row");
      generateStandardFooter();
      switchNavActive();
    };
  </script>
  </body>
</html>
