<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta name="description" content="News related to Wildfire prevention scorecard."/>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
     <!-- Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=G-G066X572LF"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
       gtag('config', 'G-G066X572LF');
     </script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/style/style.css" />
    <script src="https://kit.fontawesome.com/e29cb68718.js" crossorigin="anonymous" async></script>
    <title>Press Release</title>
  </head>

  <body>
    <div id="header-row" name="header-row">
    </div>
    <div id="news-container" class="container">
      <h1>Press Release - Launching the Scorecard</h1>
      <div class="news-content">
        <p>
          Groundbreaking New Wildfire Resilience Scorecard Empowers Communities to Assess Wildfire Risk, Boost Preparedness.
          <br>
          Global Rollout Kicks Off With Pilot Program to Test Methodology. Participants Wanted
        </p>
        <p>
          For Immediate Release <br>
          February 19, 2024 - (San Francisco, CA) Communities worldwide now have a new tool to evaluate wildfire risk and 
          strengthen resilience with the introduction of Community Wildfire Resilience Scorecard by ARISE-US and 
          CrowdDoing Catastrophic Wildfire Prevention Consortium (CWPC).
        </p>
        <p>
          The Community Wildfire Resilience Scorecard enables assessment of wildfire risk across property, 
          community and landscape scales. Developed collaboratively by wildfire experts, ARISE-US and CWPC, 
          the open-source scorecard provides a robust set of questions to develop a baseline assessment, identify risks,
          and contribute to creating targeted plans, and driving unified action.
        </p>
        <p>
          View and download the Community Wildfire Resilience Scorecard published by the United Nations 
          Office for Disaster Risk Reductions (UNDRR) PreventionWeb:
          <a href="https://www.preventionweb.net/publication/community-wildfire-resilience-scorecard" 
          target="_blank" rel="noopener noreferrer" aria-label="Link to United Nations office of Disaster Risk Reduction - UNDDR website">
          Community Wildfire Resilience Scorecard</a> 
          and <a href="http://scorecard.preventwildfire.world" target="_blank" rel="noopener noreferrer"
          aria-label="Link to the homepage of Community wildfire resilience scorecard">Scorecard prevent wildfire</a>.
            <br>
          The Wildfire Resilience Scorecard incorporates cutting-edge resilience principles across land use planning, 
          infrastructure hardening, public education, governance, nature-based solutions, ecosystem management, and
           post-disaster recovery capacity. This comprehensive approach prepares communities to develop targeted plans 
           to substantially reduce wildfire risks through integrated planning, mitigation, and governance.
        </p>
        <p>
          Global rollout starts with a pilot program enabling communities worldwide to test and refine the scorecard. 
          In addition to communities, we invite diverse stakeholders - governments, companies, associations - to adopt 
          the Wildfire Resilience Scorecard, collaborate to improve it through feedback and pilots, and build 
          collaborative resilience strategies against increasingly devastating wildfires.
        </p>
        <p>
          “Community collaboration is critical for preventing catastrophic wildfires. Help us make communities more 
          resilient. Pilot with us. Send feedback, collaborate, share data, learnings and best practices to accelerate 
          our progress.” said Claudia Brenner, Co-CEO CrowdDoing CWPC.
        </p>
        <p>
          Download, collaborate, send feedback and learn more at 
          <a href="http://scorecard.preventwildfire.world/" target="_blank" rel="noopener noreferrer"
           aria-label="Link to the communuity wildfire resilience scorecard website">
            http://scorecard.preventwildfire.world/</a>
        </p>
        <p>
          "By building systems change strategies with global collaborators, we empower communities to understand risks 
          through the scorecard. Together we can reduce catastrophic wildfire risks and build prevention pathways for a 
          hotter, drier, fire-prone world," said Bobby Fishkin, Co-CEO of Catastrophic Wildfire Prevention at CrowdDoing 
          & Co-leader of CrowdDoing.
        </p>
        <p>
          “Many communities either don’t have the information they need to understand and improve their wildfire risk, 
          or they have too much, in too many places and too complex to understand.  The Scorecard is the first piece of 
          a strategy to create a free “one stop shop” for the integrated information and expertise that communities will 
          need. The Scorecard allows a community to see how it is placed currently with respect to wildfire risk. Other 
          pieces will help it select strategies and actions to move forward and improve their risk and resilience,” said 
          Peter Williams, Chair of ARISE-US.
        </p>
        <p>
          This groundbreaking scorecard is a gift to reduce disaster risk worldwide. Join the movement for resilience.
          Contact us at <a href="mailto:contact@preventwildfire.world" aria-label="Send a mail to contact at prevent wildfire dot com">contact@preventwildfire.world</a>
          </p>
        <p>
          ARISE, the Private Sector Alliance for Disaster Resilient Societies, is a network of private sector entities 
          led by the UN Office for Disaster Risk Reduction (UNDRR). In 2015, UNDRR started ARISE to support the private 
          sector to become a key partner in reducing disaster risk. It has grown to over 400 members and over 29 networks 
          across the world. ARISE-US is the US Network of ARISE.
        </p>
        <p>
          Catastrophic Wildfire Prevention Consortium (CWPC) at CrowdDoing is a cross-sector, international 
          consortium of wildfire experts, institutions, entrepreneurs and volunteers with a goal of preventing 
          catastrophic wildfires through a portfolio of tailored, integrated innovations for communities.
        </p>
        <p class="ending">
          Claudia Brenner, Co-CEO CrowdDoing Catastrophic Wildfire Prevention Consortium<br>
          <a href="https://www.linkedin.com/in/claudia-brenner/" aria-label="Link to Claudia Brenner's linkedin page"><i class="fab fa-linkedin"></i></a>
          <br>
          cbrenner@atomicstrategicdesign.com
        </p>
        <p>
          Bobby Fishkin, CEO CrowdDoing<br>
          <a href="https://www.linkedin.com/in/bobbyfishkin/" aria-label="Link to Bobby Fishkin's linkedin page"><i class="fab fa-linkedin"></i></a>
          <br>
          bobby@reframeit.com
        </p>
        <p>
          MEDIA CONTACT:<br>
          Myles Weissleder for CrowdDoing<br>
          <a href="mailto:myles@thehighertide.com" aria-label="Link to send a mail to Myles Weissleder, media contact for crowd doing"> myles@thehighertide.com </a><br>
          415-843-1850<br>
        </p>
      </div>
    </div>
    <div id="footer-container"></div>

  <script src="/assets/javascript/footer.js"></script>
  <script src="/assets/javascript/header.js"></script>
  <script src="/assets/javascript/common.js"></script>

  <script>
    window.onload = (event) => {
      generateHeader("header-row");
      generateStandardFooter();
      switchNavActive();

    };
  </script>
  </body>
</html>
